.label {
    align-self: center;
    align-items: center;
    -unity-font: url("project://database/Library/unity%20default%20resources?fileID=10102&guid=0000000000000000e000000000000000&type=0#LegacyRuntime");
    color: rgb(255, 255, 255);
    font-size: 25px;
    -unity-text-align: upper-center;
}
